* {
    box-sizing: border-box;
  }
@font-face {
  font-family: 'PoetsenOne';
  src: url(/css/fonts/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: 'popins';
  src: url(/css/fonts/Poppins-Regular.ttf);
}

body 
{
  font-family: 'popins';
  line-height: 1.4;
}

body {
    float: left;
    margin-left: 570px;
    margin-top: 160px;
    background-color: aquamarine;
      
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}
.login-container h2 {
    text-align: center;
}
#name,#password{
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}
.link-container a {
    color: #007bff;
    text-decoration: none;
}
.link-container a:hover {
    text-decoration: underline;
}
.button {
    display: block;
    margin: 25px auto;  
}